main {

    .project-section {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        h2 {
            align-self: flex-start;
            border-bottom: 1px solid var(--md-sys-color-outline-variant);
            margin-bottom: 1rem;
        }
    }

    .project-aside {
        display: flex;
        flex-direction: column;
        
        .slider{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        .project-details {
            width: 100%; 

            .project-details-list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
                padding: 1rem;
                gap: 1.5rem;
                border-radius: 16px;
                // box-shadow: var(--elevation-one);
                border: 1px solid var(--md-sys-color-outline-variant);
                // background-color: var(--md-sys-color-surface-container-low);

                .project-detail {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
    
                    h4 {
                        font-weight: 500;
                    }
    
                    span {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        padding: .2rem 1rem;
                        // background-color: #06ea028c;
                        outline: 1px solid #07EA02;
                        border-radius: 50px;
                        align-self: flex-start;
                        color: var(--md-sys-color-on-background);
    
                        svg {
                            color: #07EA02;
                        }
                    }
                }
            }
        }

        .whatsapp-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background-color: #07EA02;
            border-radius: 50px;
            padding: .6rem 2rem;
            border: none;
            transition: all .3s ease-in-out;
            margin: 2rem 0;
            align-self: stretch;

            &:hover {
                outline: 1px solid #07EA02;
                background-color: transparent;
            }
            
        }

        .share {
            margin: 1rem 0;
            h4 {
                margin-bottom: 1rem;
                text-align: center;
            }

            .share-icons {
                display: flex;
                justify-content: center;
                gap: 1rem;

                svg {
                    color: var(--md-sys-color-on-surface-variant);
                    font-size: 3rem;
                    padding: .6rem;
                    border-radius: 50%;
                    border: 1px solid var(--md-sys-color-outline-variant);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--md-sys-color-surface-variant);
                    }
                }
            }
        }

    }
}