.projects {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(320px, 1fr) );
    grid-template-rows: auto;
    gap: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

    @media (max-width: 780px) {
        margin-top: 1rem;
    }   
}