section {
    display: flex;
    flex-direction: column;

    .projects {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(320px, 1fr) );
        grid-template-rows: auto;
        gap: 1.8rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    
        @media (max-width: 780px) {
            margin-top: 1rem;
        }   
    }

    button {
        align-self: center;
        padding: .5rem 2rem;
        border-radius: 50px;
        background-color: var(--md-sys-color-primary-container);
        color: var(--md-sys-color-on-primary-container);
        margin-bottom: 1rem;
    }
}