@import "../../utils/theme.css";

.header {
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: var(--md-sys-color-surface-container-lowest);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
    box-shadow: var(--elevation-two);
    height: 3.5rem;

    .header-content {
        width: 90vw;
        display: flex;
        justify-content: space-between !important;

        & > a {
            text-decoration: none;
            color: var(--md-sys-color-neutral);

            @media (max-width: 768px) {
                font-size: 20px;
            }

            @media (max-width: 400px) {
                font-size: 16px;
            }
        }

        .contact {
            display: flex;
            column-gap: 20px;
            align-items: center;

            @media (max-width: 768px) {
                display: none;
            }
    
            &__phone, &__email{
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
        }

        button {
            background-color: transparent;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}
