:root {
    --elevation-one: 0px 16px 40px -20px rgba(0,0,0,0.3);
    --elevation-two: 0px 12px 40px -24px rgba(0,0,0,0.3);
    --elevation-three: 0px 8px 40px -24px rgba(0,0,0,0.3);
    --elevation-five: 0px 4px 40px -24px rgba(0,0,0,0.3);
}